<mm-navbar></mm-navbar>
<div class="container">
    <p *ngIf="user">
        User is: {{user.id | async}}|{{user.name | async}}
    </p>
    <div class="row">
        <div class="col col-6">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" #userName>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="login(userName.value)">Login</button>
            </form>
        </div>
    </div>
</div>
<mm-footer></mm-footer>